@tailwind base;
@tailwind components;
@tailwind utilities;


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-ul {
  display:flex;
  list-style-type: none;
  column-gap: 1em;
  justify-content: end;
}

.patient_pecks_list {
  list-style-type: none;
}
.patient_pecks_list li {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

@layer base {
  html {
    font-family: "proximanova", sans-serif;
  }

  @font-face {
    /* font-normal */
    font-family: "proximanova";
    font-weight: 400;
    src: url("./assets/fonts/proximanova_regular.ttf") format("truetype");
  }

  @font-face {
    /* font-semi bold */
    font-family: "proximanova";
    font-weight: 600;
    src: url("./assets/fonts/proximanova_semibold.ttf") format("truetype");
  }

  @font-face {
    /* font-bold */
    font-family: "proximanova";
    font-weight: 700;
    src: url("./assets/fonts/proximanova_bold.ttf") format("truetype");
  }

}

@layer components {

  .container {
    @apply max-w-[1105px];
  }

  .header1 {
    @apply text-center text-2xl leading-[1.83rem] font-bold;
  }

  .header2 {
    @apply text-center text-2xl leading-[1.83rem] font-semibold;
  }

  .input {
    @apply ring-0 focus:ring-0 outline-none placeholder-gray-500;
  }

  button {
    @apply hover:scale-[1.03] transition-transform ease-in;
  }
}
